.footer
  .container
    .row.pull-left
      %h3 Select Posts
      .span5
        %ul.unstyled
          %li
            %a{ :href => "http://www.salesverge.com/blog/posts/using-an-ipad-app-for-business" }
              <strong>Using an iPad app for business</strong>
          %li
            %a{ :href => "http://www.salesverge.com/blog/posts/help-increase-sales-with-a-mobile-sales-app" }
              <strong>Help Increase Sales with a Mobile Sales App</strong> 
          %li 
            %a{ :href => "http://www.salesverge.com/blog/posts/you-just-lost-a-sale-to-your-coworker" }
              You just lost a sale...to your coworker
          %li 
            %a{ :href => "http://www.salesverge.com/blog/posts/mobile-integration-increasing-worker-productivity" }
              Mobile integration increasing worker productivity (infographic)
    .span2.pull-right
      = link_to image_tag('salesverge_logo.png', :height => 52, :width => 145, :alt => "SalesVerge"), "/"
      %p.copyright
        &copy;
        = Date.today.year
        SalesVerge
      = link_to "https://twitter.com/salesverge", :target => "_blank", :id => "twitter" do
        = image_tag('twitter_icon.png', :alt => "Follow @salesverge on Twitter")
        Follow
        %strong
          @salesverge
      = link_to "sitemap.xml", "/sitemap.xml", :target => "_blank", :class => "subtle"