= render "layouts/head"
%body.blog
  .header
    .container  
      .pull-left
        = link_to image_tag('salesverge.png', :height => 40, :width => 145, :class => "logo"), "/"
      .pull-right{ :style => "margin-top: 20px;"}
        .btn-group{ :style => "margin-bottom: 0px" }
          = link_to "What is SalesVerge?", "/", :class => "btn btn-large btn-success"
          = link_to "Blog", "/blog", :class => "btn btn-large btn-success active"
  .container
    .row
      .span10
        = yield
      /.span2
      /  - @posts.each do |post|
      /    = post.title
    %hr
    .container.center
      %p
        &copy;
        = Date.today.year
        SalesVerge
