- @current_post = @posts.find_by_slug(params[:id])
-if params[:action] == "show" && @current_post != nil
  - @title = "#{@current_post.title}"
-elsif params[:action] == "tagged"
  - @title = "#{params[:tag_name].capitalize} Blog Posts - The SalesVerge Blog"
-elsif params[:action] == "archive"
  - @title = "SalesVerge Blog Archive: #{params[:month]}/#{params[:year]}"
-else
  - @title = "The SalesVerge Blog - mobile technology and marketing"
!!!
%html
  %head
    = render "layouts/head"
    -if params[:action] == "show" && @current_post != nil
      %meta{ :name => "description", :content => "#{@current_post.seo_meta.meta_description}"}
    -elsif params[:action] == "tagged"
      %meta{ :name => "description", :content => "SalesVerge blog posts tagged: #{params[:tag_name]}"}
    -elsif params[:action] == "archive"
      %meta{ :name => "description", :content => "SalesVerge Blog Archive for #{params[:month]}/#{params[:year]}"}
    -else
      %meta{ :name => "description", :content => "The SalesVerge blog provides insight on marketing and mobile technology"}
    -unless Rails.env.development?
      = render "shared/google_analytics"
  %body.blog
    .dark-bar
      .container  
        .pull-left
          = link_to image_tag('salesverge_logo.png', :height => 52, :width => 145, :class => "logo", :alt => "SalesVerge"), "/"
        #toolbar.pull-right
          = link_to "https://twitter.com/salesverge", :target => "_blank", :class => "twitter" do
            = image_tag('twitter_icon.png', :alt => "Follow @salesverge on Twitter")
            Follow
            %strong
              @salesverge
          %a.btn.btn-large.btn-success{:href=>"/"}
            Home
          %a.btn.btn-large.active{:href=>"/blog"}
            Blog
          %a.btn.btn-large.btn-success{:href=>"http://help.salesverge.com/"}
            Help

    .container
      .row
        .span9
          = yield
        .span3
          .right_sidebar
            %h2 Recent Posts
            %hr
            %ul.unstyled
              - @allposts = Refinery::Blog::Post.where("published_at < ?", Time.now).find(:all, :order => 'published_at')
              - @allposts.first(5).each do |post|
                %li
                  = link_to "#{post.title}", "/blog/posts/#{post.slug}"
                %hr
            %h2 RSS Feed
            = link_to "/blog/feed.rss", :class => "btn" do
              Subscribe
            %hr
            / AddThis Button
            .addthis_toolbox.addthis_default_style
              %a.addthis_button_facebook_like{ "fb:like:layout" => "button_count"}
              %a.addthis_button_tweet
              %a.addthis_counter.addthis_pill_style
              %script{:type => "text/javascript",
                      :src  => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e25d54826eb110d"}
    = render "layouts/footer"
    - unless Rails.env.development?
      = render "shared/clicky"
