- @title = "Mobile Sales App for iPad, iPhone, or Web"
!!!
%html
  %head
    = render "layouts/head"
    %meta{ :name => "description", :content => "SalesVerge is a mobile application that helps salespeople engage with customers"}
    - unless Rails.env.development?
      = render "shared/google_analytics"
  %body.marketing

    / TOP BAR CONTENT
    .dark-bar
      .container
        .row
          .span12
            .logo.pull-left
              = image_tag("/assets/salesverge_logo.png", :class=>"logo", :alt=>"SalesVerge Logo", :width => "145", :height => "52")
            #toolbar.pull-right
              = link_to "https://twitter.com/salesverge", :target => "_blank", :class => "twitter" do
                = image_tag('twitter_icon.png', :alt => "Follow @salesverge on Twitter")
                Follow
                %strong
                  @salesverge
              %a.btn.btn-large.active{:href=>"/"}
                Home
              %a.btn.btn-large.btn-success{:href=>"/blog"}
                Blog
              %a.btn.btn-large.btn-success{:href=>"http://help.salesverge.com/"}
                Help

    / MAIN HERO CONTENT
    .container
      .left-content
        .row
          .span12
            %h1.main Mobile Sales App
        .row    
          .span5
            .info-unit.grey-info-unit
              %ul.unstyled
                %li
                  %i.icon-ok
                  Manage Customers with built-in CRM
                %li
                  %i.icon-ok
                  Re-market to them
                %li
                  %i.icon-ok
                  Get them back in the store to buy
                %li
                  %i.icon-ok
                  All from a mobile device or browser
            .info-unit.green-info-unit
              .sign-up
                %form#form103{ :name => "form103", 
                               :autocomplete => "off", 
                               :enctype => "multipart/form-data", 
                               :method => "post", 
                               :action => "https://dealerignition.wufoo.com/forms/z7p8a9/#public" }
                  .input-append
                    %h2.try 
                      Try the app today!
                    .float-left{:style => "float:left"}
                      %input#Field1.span3{ :name => "Field1",       :type => "email", 
                                           :spellcheck => "false",  :value => "", 
                                           :maxlength => "255",     :tabindex => "1", 
                                           :placeholder => "email@example.com" }
                      %input#saveForm.btn.btn-large.btn-primary{ :name=>"saveForm", :type=>"submit", :value=>"TRY THE APP!" }
                    .clearfix
                  .hide{ :style => "display:none" }
                    %label{ :for => "comment" }
                      (empty)
                    %textarea{ :name => "comment", :id => "comment", :rows => "1", :cols => "1"}
                    %input#idstamp{ :type => "hidden", :name => "idstamp", :value => "677Ekg9h804SzOpIVjRw6YvnPQCR15vgtbrr9fV+2Sw="}
            / AddThis Buttons
            %br
            .addthis_toolbox.addthis_default_style
              %a.addthis_button_facebook_like{ "fb:like:layout" => "button_count"}
              %a.addthis_button_tweet
              %script{:type => "text/javascript",
                      :src  => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e25d54826eb110d"}
            %br
              = link_to "About us", "/about", :class => "btn border-fix"
          
          / HERO GRAPHICS
          .span7
            #heroCarousel.carousel.slide
              .carousel-inner
                .item.active
                  %img#hero1{:src => "/assets/mobile-and-web-sales-tool.png", :alt => "iPhone sales tool", :width => "629", :height => "449"}
                .item
                  %img#hero2{:src => "/assets/mobile-and-web-sales-tool-2.png", :alt => "iPhone sales tool on the floor", :width => "629", :height => "449"}
                .item
                  %img#hero3{:src => "/assets/mobile-and-web-sales-tool-3.png", :alt => "iPad sales tool", :width => "629", :height => "449"}
              %a.carousel-control.left{:href=>"#heroCarousel", "data-slide"=>"prev"}
                &lsaquo;
              %a.carousel-control.right{:href=>"#heroCarousel", "data-slide"=>"next"}
                &rsaquo;
            :javascript
              $('.carousel').carousel({
                interval: 8000
              })

    / LOWER WHITE-BG CONTENT    
    .white-bg
      .container
        .row
          .span12
            .info-unit.phone-info-unit
              %p.phone
                %i.icon-comments-alt
                Text <strong>sales</strong> to <strong>864-345-7375</strong> to sign-up for the web app right on your iPhone!
        .row
          :javascript
            jQuery(document).ready(function($) {
              $('a[rel*=facebox]').facebox() 
            })
          .span12
            .video-container
              #ul.thumbnails
                #li.span2
                  %a{:href=>"/video-product-video.html", :class=>"thumbnail", :id=>"video-thumb", :rel=>"facebox"}
                    %img{:src=>"/assets/video-thumb.jpg", :alt=>"FIXME"}
                    %p
                      Watch this short video
        .row
          .span12
            %h2.secondary Turn 'just looking' customers into buyers!
            .thumbnails
              .span4
                .thumbnail
                  %img{ :src => "/assets/connect-with-customers-1.jpg", :alt=>"Connect with customers"}
                  .caption   
                    %h3.third Connect With Your Customers
                    %p Ask them for their name and email and record it right on your phone.
              .span4                                         
                .thumbnail                                   
                  %img{ :src => "/assets/see-your-activities.jpg", :alt=>"Engage with them"}
                  .caption                                   
                    %h3.third Manage Activities With Customers
                    %p Send them follow-up product quotes about the products they viewed.
              .span4                                         
                .thumbnail                                   
                  %img{ :src => "/assets/close-more-sales.jpg", :alt=>"Close more sales"}
                  .caption
                    %h3.third Sell More
                    %p Engage with your customers in order to get them back to your store. Close the sale.

    / LOWER WHITE-BG CONTENT    
    .grey-bg
      .container
        .row
          .span2.offset2
            %i.icon-briefcase.big-icon{:style=>"color:#333;"}
          .span6
            .description
              SalesVerge is a <strong>business app</strong> for the <a class='hero-link' href='http://www.salesverge.com/ipad'><strong>iPad</strong></a>
              and <a class='hero-link' href='http://www.salesverge.com/iphone'><strong>iPhone</strong></a> made to help you keep track of customers even <em>before</em> 
              they buy from you. SalesVerge manages your customer relationships <em>on and off</em> the showroom floor. Your customers come back to you, not another salesperson.

    / FOOTER AND OTHER THINGS    
    = render "layouts/footer"
    - unless Rails.env.development?
      = render "shared/clicky"
    = render "shared/net_results"
    = render "shared/olark"
