!!!
%html
  %head
    %title
      - if @title
        =@title
        |
      SalesVerge
      
    /%link{ :rel => "icon", :type => "image/x-icon", :href => "/assets/favicon.ico" }
    %meta{ :charset => "utf-8" }
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags

  %body.marketing
    .header
      .container
        = link_to image_tag('salesverge.png', :height => 40, :class => "logo"), "/"
        %span.nav
          = link_to "What is SalesVerge?", "/"
          |
          = link_to "Blog", "/blog"
        .row
          %div.pull-left{ :style => "width: 500px; margin-left: 20px;" }
            %h1 Turn in-store browsers into buyers.
            %br
            %h4 Sign up and you'll be the first to know when it's available.
            %p
              = text_field_tag :email, "Email Address", :placeholder => "Email address", :style => "margin-right: -4px;height: 26px;"
              = link_to "Count me in!", "#", :class => "btn btn-success btn-large"
          %div.pull-right{ :style => "width: 400px" }
            %iframe{ :src => "http://player.vimeo.com/video/44335339", :width => "400", :height => "225", "frameborder" => "0" }
    .container
      .row
        .span12.center
          = image_tag 'mobile-screens.png', :class => "screens"
      %br
      %ul.thumbnails
        %li.span4
          .thumbnail
            = image_tag 'landing_page_2.jpg'
            .caption
              %h3 Automation
              %p Automatically keep in touch with customers
        %li.span4
          .thumbnail
            = image_tag 'landing_page_1.jpg'
            .caption
              %h3 Learn
              %p Learn more about your customers, without having to ask
        %li.span4  
          .thumbnail
            = image_tag 'landing_page_3.jpg'
            .caption
              %h3 Sell More
              %p Sell more to the "ups" you get each day
      %hr
      .container.center
        %p
          &copy;
          = Date.today.year
          SalesVerge
