- @title = "Mobile Sales App for iPad, iPhone, or Web"
!!!
%html
  %head
    = render "layouts/head"
    %meta{ :name => "description", :content => "SalesVerge is a mobile application that helps salespeople engage with customers"}
    - unless Rails.env.development?
      = render "shared/google_analytics"
  %body.marketing

    / TOP BAR CONTENT
    .dark-bar
      .container
        .row
          .span12
            %br
            %br
            %img{:src => "/assets/salesverge_logo.png", :height=>"52", :width=>"145", :class=>"logo", :alt=>"SalesVerge Logo"}

    / MAIN HERO CONTENT
    .container
      .left-content
        .row
          .span12
            %h1.main Mobile Sales App
        .row    
          .span5
            .info-unit
              %ul.unstyled
                %li
                  %i.icon-ok
                  Manage Customers with built-in CRM
                %li
                  %i.icon-ok
                  Re-market to them
                %li
                  %i.icon-ok
                  Get them back in the store to buy
                %li
                  %i.icon-ok
                  All from a mobile device or browser
              %hr.style-six    
              .sign-up
                %form#form103{ :name => "form103", 
                               :autocomplete => "off", 
                               :enctype => "multipart/form-data", 
                               :method => "post", 
                               :action => "https://dealerignition.wufoo.com/forms/z7p8a9/#public" }
                               
                  .input-append
                    %h2.try 
                      Try it!
                      %i.icon-chevron-down
                    .float-left{:style => "float:left"}
                      %input#Field1.span3{ :name => "Field1",       :type => "email", 
                                           :spellcheck => "false",  :value => "", 
                                           :maxlength => "255",     :tabindex => "1", 
                                           :placeholder => "email@example.com" }
                                           
                      %input#saveForm.btn.btn-large.btn-primary{ :name=>"saveForm", :type=>"submit", :value=>"TRY THE APP!" }
                    .clearfix
                  .hide{ :style => "display:none" }
                    %label{ :for => "comment" }
                      (empty)
                    %textarea{ :name => "comment", :id => "comment", :rows => "1", :cols => "1"}
                    %input#idstamp{ :type => "hidden", :name => "idstamp", :value => "677Ekg9h804SzOpIVjRw6YvnPQCR15vgtbrr9fV+2Sw="}
            .description{:style => "margin-top:20px"}
              SalesVerge is a <strong>business app</strong> for the <a class='hero-link' href='http://www.salesverge.com/ipad'><strong>iPad</strong></a>
              and <a class='hero-link' href='http://www.salesverge.com/iphone'><strong>iPhone</strong></a> made to help you keep track of customers even <em>before</em> 
              they buy from you. SalesVerge manages your customer relationships <em>on and off</em> the showroom floor. Your customers come back to you, not another salesperson.
          
          / HERO GRAPHICS
          .span7
            %img#hero1.pull-right{:src => "/assets/iphone-sales-tool.png", :style=>"margin-top: -65px;", :alt=>"FIXME"}

    / LOWER WHITE-BG CONTENT    
    .white-bg
      .container
        .row
          .span12
            %h2.secondary Turn 'just looking' customers into buyers!
            .thumbnails
              .span4
                .thumbnail
                  %img{ :src => "http://placehold.it/290x180", :alt=>"FIXME"}
                  .caption                                   
                    %h5 Thumbnail label                      
              .span4                                         
                .thumbnail                                   
                  %img{ :src => "http://placehold.it/290x180", :alt=>"FIXME"}
                  .caption                                   
                    %h5 Thumbnail label                      
              .span4                                         
                .thumbnail                                   
                  %img{ :src => "http://placehold.it/290x180", :alt=>"FIXME"}
                  .caption
                    %h5 Thumbnail label   

    / FOOTER AND OTHER THINGS    
    = render "layouts/footer"
    - unless Rails.env.development?
      = render "shared/clicky"
    = render "shared/net_results"
