!!!
%html
  %head
    = render "layouts/head"
    - if @meta_description
      %meta{ :name => "description", :content => "#{@meta_description}"}
    - else
      %meta{ :name => "description", :content => "Use your iDevice to help help your sales process and engage with customers"}
    - unless Rails.env.development?
      = render "shared/google_analytics"
  %body.page
    .dark-bar
      .container  
        .pull-left
          = link_to image_tag('salesverge_logo.png', :height => 52, :width => 145, :class => "logo", :alt => "SalesVerge"), "/"
        #toolbar.pull-right
          = link_to "https://twitter.com/salesverge", :target => "_blank", :class => "twitter" do
            = image_tag('twitter_icon.png', :alt => "Follow @salesverge on Twitter")
            Follow
            %strong
              @salesverge
          %a.btn.btn-large.btn-success{:href=>"/"}
            Home
          %a.btn.btn-large.btn-success{:href=>"/blog"}
            Blog
          %a.btn.btn-large.btn-success{:href=>"http://help.salesverge.com/"}
            Help
      
    = yield
  
    = render "layouts/footer"
    - unless Rails.env.development?
      = render "shared/clicky"
    = render "shared/net_results"
    = render "shared/olark"
