!!!
%html
  %head
    = render "layouts/head"
    - if @meta_description
      %meta{ :name => "description", :content => "#{@meta_description}"}
    - else
      %meta{ :name => "description", :content => "Use your iDevice to help help your sales process and engage with customers"}
    - unless Rails.env.development?
      = render "shared/google_analytics"
  %body.page
    .header
      .container  
        .pull-left
          = link_to image_tag('salesverge_logo.png', :height => 52, :width => 145, :class => "logo", :alt => "SalesVerge"), "/"
        .pull-right{ :style => "margin-top: 20px;"}
          .btn-group.pull-right{ :style => "margin-bottom: 0px" }
            = link_to "#{HOST}/", :class => "btn btn-large btn-success" do
              %i.icon-home
            = link_to "What is SalesVerge?", "#{HOST}/#what", :class => "btn btn-large btn-success"
            = link_to "Help", "http://help.salesverge.com", :class => "btn btn-large btn-success"
            = link_to "Blog", "#{HOST}/blog", :class => "btn btn-large btn-success"
          .pull-right.twitter
            = link_to "https://twitter.com/salesverge", :target => "_blank", :class => "" do
              = image_tag('twitter_icon.png', :alt => "Follow @salesverge on Twitter")
              Follow 
              %strong
                @salesverge
    .container
      
      = yield
  
    = render "layouts/footer"
    - unless Rails.env.development?
      = render "shared/clicky"
    = render "shared/net_results"
