- @title = "Turn in-store browsers into buyers"
!!!
%html
  %head
    = render "layouts/head"
    %meta{ :name => "description", :content => "SalesVerge is a mobile application that helps salespeople engage with customers"}
    - unless Rails.env.development?
      = render "shared/google_analytics"
  %body.marketing
    .dark-bar
      .container  
        .pull-left
          = link_to image_tag('salesverge_logo.png', :height => 52, :width => 145, :class => "logo", :alt => "SalesVerge"), "/"
        #toolbar.pull-right
          = link_to "https://twitter.com/salesverge", :target => "_blank", :class => "twitter" do
            = image_tag('twitter_icon.png', :alt => "Follow @salesverge on Twitter")
            Follow
            %strong
              @salesverge
          %a.btn.btn-large.btn-success{:href=>"/"}
            Home
          %a.btn.btn-large.btn-success{:href=>"/blog"}
            Blog
          %a.btn.btn-large.btn-success{:href=>"http://help.salesverge.com/"}
            Help

    .container
      .row
        .span8.offset2
          %br
          %h1
            %i.icon-ok-sign{ :style => 'color: #37b34a' }
            Thanks for your interest!
          %h4 As promised, you'll be the first to know when SalesVerge is available in the App Store.
          %br
      
      = yield
  
    = render "layouts/footer"
    - unless Rails.env.development?
      = render "shared/clicky"
